
.page{
    background-size: cover;
    margin-bottom: 0;
}

.page_header{
    margin-bottom: 1%;
    min-height: 30vh;  
    }
      .logo_name{
            display:grid;
            grid-template-rows:auto;
            grid-template-columns:20% 60% 20%;
            margin-bottom: 2%;
        }
        .logos{
            align-self: center; 
            
        }
        
        .names{
            position: relative;
            top:25%;
            width:100%; 

        }
      .navigation .menus   {
            display:grid;
            grid-auto-flow: column;
            grid-gap:2%;      
            list-style-type:none;
            align-items: center;
            justify-content:center;
            margin:0;
            padding:0;
            font-size:125%;
           
        }
        .menus_items{
            text-decoration:none;
            color:black;
            -webkit-transition: font-size 2s ease-out;
            -moz-transition: font-size 2s ease-out;
            -o-transition: font-size 2s ease-out;
            transition: font-size 2s ease-out;
            font-family:Andale Mono, monospace;

            border-radius:10%;
        }
        .menus_items:hover {
            font-size:xx-large;  
          }
        @media screen and (max-width: 768px){
            /* (A) BREAK INTO VERTICAL MENU */
            .navigation  .menus   {
                display:grid;
                grid-auto-flow: row;
                grid-gap:1%;
                
                
                list-style-type:none;
                align-items: center;
            
                align-items: center;
                justify-content:center;
                margin:0;
                padding:0;
            
                font-size:125%;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
               
            }
        }
    .page_main{
            margin:10%;              
            min-height: 60vh;
            }
        .paragraph1{
            font-family:"Palatino LT STD", "Book Antiqua", Georgia, serif;
            font-size:5vw;
            align-items: left;
              overflow: hidden;
              text-align: center;
             
              margin:auto;
              
              white-space:nowrap;
             width:0%;
              
             
              animation: typing 2s steps(100,end) forwards;
      
      }
      
        .paragraph2{
          font-family: "Palatino LT STD", "Book Antiqua", Georgia, serif;
          font-size:5vw;
              
             overflow: hidden;
             margin:auto;
            text-align: center;
            align-items: center;
             
             
             
             
            width:0%;
             white-space: nowrap;
           
           
             
             animation: typing 2s steps(100,end) forwards ;
             animation-delay: 2s;
             
             
        }
        @keyframes typing {
          from { width:0%; }
          to { width:100%;
        }}
      
        
        
        
               
.page_footer{
    margin-top: 1%;
    bottom:0vh;
    width:100%;
    height:100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.page_footer .footer_icons{
    
    display:grid;
    grid-auto-flow:column;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
   
}
.footer_copyright{
    margin:0;
    padding:0;
    text-align:center;
}



.fab:hover{
transform:translate(0,-10px);
}


 















